<!doctype html>
<head>
    <title>Kearney Document Summary Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<html>
   <body>
     <main>
        <div class="px-4 py-3 my-2 text-center">
            
            <h1 class="display-6 fw-bold text-primary">Kearney Document Summary Generator</h1>            
          </div>
        <form method="post" action="{{url_for('summary')}}">
            <div class="col-md-6 mx-auto text-center">
                <label for="name" class="form-label fw-bold fs-5">URL for the text of the bill to be summarized?</label>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
                    <input type="text" class="form-control" id="name" name="name" placeholder="https://www.congress.gov/bill/117th-congress/house-bill/4346/text" value="https://www.congress.gov/bill/117th-congress/house-bill/4346/text" style="max-width: 256px;">
                  </div>            
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
                  <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Generate Summary</button>
                </div>            
            </div>
        </form>
     </main>      
   </body>
</html>